<header class="site-header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light  bg-light text-dark    ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/tachyhealth-logo.png" class="img-fluid" alt="TackyHealth">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 fw-bold text-dark">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active" style="color: #00c0c2;">Home</a>
                    </li>

                    <li ngbDropdown class="nav-item ">
                        <a class="nav-link" type="button" id="dropdownBasic1" ngbDropdownToggle>Solutions</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <a ngbDropdownItem>AiReview</a>
                            <a ngbDropdownItem>AiGuide</a>
                            <a ngbDropdownItem>AiCode</a>
                            <a ngbDropdownItem>AiClaim</a>
                        </div>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ">About US</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ">Blog</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ">Portal</a>
                    </li>
                    <li ngbDropdown class="nav-item mx-2">
                        <a class="nav-link" type="button" id="dropdownBasic1" ngbDropdownToggle>Careers</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <a ngbDropdownItem>Machine Learning Developer</a>
                            <a ngbDropdownItem>Data Analyst</a>
                            <a ngbDropdownItem>Full Stack Developer</a>
                            <a ngbDropdownItem>Flutter Developer</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2">Contact US</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>