<footer>
    <div class="container-fluid ">
        <div class="row  ">
            <div class="col-md-3 p-2">
                <img src="/assets/img/tachyhealth.png" height="200px" alt="">
            </div>
            <div class="col-md-2 mt-5 fw-bold">
                <p>We are saving lives with technology by making sense of the disruptive waves for a better healthcare.</p>
            </div>
            <div class="col-md-2 mt-5 ">
                <ul>
                    <li class="nav-item"> <a routerLink="home">Home</a></li>
                    <li class="nav-item"> <a href="">About US</a></li>
                    <li class="nav-item"> <a href="">Blog</a></li>
                    <li class="nav-item"> <a class="link" routerLink="/request">Book a demo</a></li>
                    <li class="nav-item"> <a class="link" href="">Telegram Channel</a></li>
                </ul>





            </div>
            <div class="col-md-3 mt-5 ">
                <h5 class="fw-bold">Contact US</h5>
                <div class="info">
                    <P class="link">info@tachyHealth.com</P>
                    <p>In5-Tech, Dubai Internet City, UAE</p>
                    <p>+971566937370</p>
                    <p>Delaware, 16192 Coastal Highway, Lewes, US</p>
                    <p>+19497489953</p>
                </div>


            </div>
            <div class="col-md-2 mt-5">
                <div class="social">
                    <div class="d-flex ">
                        <a href="https://www.linkedin.com/company/tachyhealth/"> <i class="fab fa-invision fa-2x"></i></a>
                        <a href="https://www.facebook.com/tachyhealth"> <i class="fab fa-facebook fa-2x"></i></a>
                        <a href="https://twitter.com/tachyhealth"> <i class="fab  fa-twitter fa-2x"></i></a>

                    </div>
                </div>

            </div>
        </div>
        <hr>
        <p class="fw-bold p-2 mb-0">All right reserved for TachyHealth, Inc © 2018-2021</p>
    </div>
</footer>