<main>

    <section id="one">
        <div class="container-fluid px-0">

            <div class="row d  mx-0 ">

                <div class=" col-lg-5  text-white text ">
                    <h1 class=" mb-4">Request a Demo</h1>
                    <p class="  mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="group">
                        <a class="btn   mt-4" routerLink="/request">Request a demo</a>
                        <a class="btn   mt-3" style="background-color: #00c0c2; color: white; ">Book a meeting</a>
                    </div>
                </div>
                <div class="col-md-7 photo">
                    <img src="/assets/img/banner.png" class="img-fluid" alt="">
                </div>





            </div>
        </div>

    </section>

    <router-outlet></router-outlet>

    <section id="two " class="mt-5 ">
        <div class="container-lg p-2">
            <h2 class="fw-bold ">Our Products</h2>
            <nav ngbNav #nav="ngbNav" class="nav-tabs mt-3  flex-nowrap ">
                <ng-container ngbNavItem>
                    <a ngbNavLink>AiGuide</a>

                    <ng-template ngbNavContent>

                        <div class="d-flex pt-3">
                            <img src="/assets/img/icon.png" class="mx-2" height="20px" alt="">
                            <h4 class="fw-bold">Doctor’s Decision-Support Solution (AiGuide)</h4>

                        </div>
                        <p class="mb-3">AiGuide empowers doctors with clinical-evidence at the patient encounter to standardize the quality of care with AI.</p>
                        <div class="row  justify-content-center text-center mt-4">
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/stethoscope.svg" height="80px">
                                </div>



                                <h4 class="fw-bold mt-2">Clinical Excellence</h4>
                                <p>Achieves improved adherence to clinical and financial guidelines</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/health-report.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Saves Resources</h4>
                                <p>Save doctors' time with faster decision-support and reduces insurance rejections</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/clinic.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Value Driven Care</h4>
                                <p>Improves patient outcomes by allocating expenditure where its most needed</p>
                            </div>


                        </div>

                        <section id="three">
                            <div class="container">
                                <h3>
                                    Key Features
                                </h3>
                                <div class="row justify-content-between">
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Evidence-Based
                                                </h6>
                                            </div>

                                            <p class="mx-3">Powered by international medical guidelines and coding standards</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    EMR / EHR
                                                </h6>
                                            </div>

                                            <p class="mx-3">Works independently or on-top of hospital’s electronic medical record systems</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Accessible
                                                </h6>
                                            </div>

                                            <p class="mx-3">From any mobile, table or PC with an internet connection anywhere</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Data Security & Confidentiality
                                                </h6>
                                            </div>

                                            <p class="mx-3">Data is managed with the highest levels of privacy and encryption</p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Cloud-Based
                                                </h6>
                                            </div>

                                            <p class="mx-3">Capable of working with different workflows with no infrastructure needs</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Frictionless Experience
                                                </h6>
                                            </div>

                                            <p class="mx-3">Easy-to-use, doctor friendly and intuitive interface</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Country-Specific Localization
                                                </h6>
                                            </div>

                                            <p class="mx-3">For coding and financial rules, to support doctors with rapidly changing updates</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a ngbNavLink>AiCode</a>
                    <ng-template ngbNavContent>
                        <div class="d-flex pt-3">
                            <img src="/assets/img/icon.png" class="mx-2" height="20px" alt="">
                            <h4 class="fw-bold">Medical Coding Solution (AiCode)</h4>

                        </div>
                        <p class="mb-3">AiCode is an AI assisted medical coding solution for an effortless workflow by healthcare providers.</p>
                        <div class="row  justify-content-center text-center mt-4">
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/profits.svg" height="55px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Productivity Increase</h4>
                                <p>Supports the automation of the medical coding function</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/check.svg" height="65px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Saves Resources</h4>
                                <p>Save doctors' time with faster decision-support and reduces insurance rejections</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/surface.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Excellence in Coding</h4>
                                <p>Versatile and updated coding rules and errata</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/website.svg" height="70px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Frictionless Experience</h4>
                                <p>An easy-to-use, intuitive interface with no additional skills needed</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/bar-chart.svg" height="75px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Growing & Improving by Time</h4>
                                <p>The deep reinforcement learning model gives you better results each day</p>
                            </div>


                        </div>
                        <section id="three">
                            <div class="container">
                                <h3>
                                    Key Features
                                </h3>
                                <div class="row justify-content-between">
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    An Integrated Smart Solution
                                                </h6>
                                            </div>

                                            <p class="mx-3">Caters for all coding requirements (ICD10-CM and AM, CPT, ACHI, DRG)</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Voice Dictation as an Input
                                                </h6>
                                            </div>

                                            <p class="mx-3">Medical coders can leverage the voice assistant tool for faster results</p>
                                        </div>

                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Coding with Artificial Intelligence
                                                </h6>
                                            </div>

                                            <p class="mx-3">The cognitive engine processes ANY digitized medical records in seconds to the right coding output</p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Code Searching & Finding
                                                </h6>
                                            </div>

                                            <p class="mx-3">Smart searching assistance is always there to help whenever needed</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Accessible Anytime & Anywhere
                                                </h6>
                                            </div>

                                            <p class="mx-3">Can be accessed from mobile, computers, or tablets 24/7</p>
                                        </div>

                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Handwritten Charts Detection
                                                </h6>
                                            </div>

                                            <p class="mx-3">The AI handwriting recognition tool processes non-digitized records in seconds to the right coding output</p>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </section>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a ngbNavLink>AiClaim</a>
                    <ng-template ngbNavContent>
                        <div class="d-flex pt-3">
                            <img src="/assets/img/icon.png" class="mx-2" height="20px" alt="">
                            <h4 class="fw-bold">Claims Management Solution (AiClaim)</h4>

                        </div>
                        <p class="mb-3">A Deep-Learning medical claims cognitive system which supports healthcare providers with validating medical claims more efficiently.</p>
                        <div class="row  justify-content-center text-center mt-4">
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/match-moving.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Identifies Coding Mismatch if any</h4>
                                <p>The decision-support system gives a verdict if the entered ICD and CPT codes are a good match</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/health-report.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Reduces Insurance Denials</h4>
                                <p>Proactive approach to validating claims effectively before sending to insurers</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/comment.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Suggests Alternative ICD-10 Codes</h4>
                                <p>For rejected code combinations, the algorithm displays more relevant ICD-10 codes to select from</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/brain.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Learns From Historical Claims Data</h4>
                                <p>Its machine learning nature helps prioritize outputs based on your historical claims data</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/verified.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Identifies Fraud, Waste & Abuse</h4>
                                <p>An efficient tool to detect and correct FWA cases on the spot</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/profits.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Productivity Increase</h4>
                                <p>Supports the automation of medical claims management function</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/bar-chart.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Growing & improving by Time</h4>
                                <p>The deep reinforcement learning model gives you better results each day</p>
                            </div>


                        </div>
                        <section id="three">
                            <div class="container">
                                <h3>
                                    Key Features
                                </h3>
                                <div class="row justify-content-between">
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Hybrid Model of Rule-Based &Machine Learning Engines
                                                </h6>
                                            </div>

                                            <p class="mx-3">combines the best-in-class rules and algorithms to validate medical claims within seconds</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Easy to use, Smart, and Integrated Solution
                                                </h6>
                                            </div>

                                            <p class="mx-3">validates medical claims efficiently based on international coding standards</p>
                                        </div>

                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Accessible, Anytime & Anywhere
                                                </h6>
                                            </div>

                                            <p class="mx-3">can be accessed from mobile, tablet or computers anywhere, 24/7</p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Data Security & Confidentiality
                                                </h6>
                                            </div>

                                            <p class="mx-3">Data is managed with the highest levels of privacy and encryption</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Frictionless Experience
                                                </h6>
                                            </div>

                                            <p class="mx-3">An easy-to-use, intuitive interface with no additional skills needed</p>
                                        </div>


                                    </div>



                                </div>
                            </div>
                        </section>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a ngbNavLink>AiReview</a>
                    <ng-template ngbNavContent>
                        <div class="d-flex pt-3">
                            <img src="/assets/img/icon.png" class="mx-2" height="20px" alt="">
                            <h4 class="fw-bold">Doctor’s Decision-Support Solution (AiGuide)</h4>

                        </div>
                        <p class="mb-3">AiGuide empowers doctors with clinical-evidence at the patient encounter to standardize the quality of care with AI.</p>
                        <div class="row  justify-content-center text-center mt-4">
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/profits.svg" height="55px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Productivity Increase</h4>
                                <p>Supports the automation of the medical coding function</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/warning.svg" height="60px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Reduces Undetected Errors</h4>
                                <p>Proactive approach to validating and auditing claims more effectively</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/bar-chart.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Growing & Improving by Time</h4>
                                <p>the deep learning model gives you better results each day</p>
                            </div>
                            <div class="col-md-4">
                                <div class="circle">
                                    <img src="/assets/img/verified.svg" height="80px" alt="">
                                </div>



                                <h4 class="fw-bold mt-2">Identifies Fraud, Waste & Abuse</h4>
                                <p>An efficient tool to detect and intervene with FWA cases before payments are made</p>
                            </div>





                        </div>
                        <section id="three">
                            <div class="container">
                                <h3>
                                    Key Features
                                </h3>
                                <div class="row justify-content-between">
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Robust Hybrid Model
                                                </h6>
                                            </div>

                                            <p class="mx-3">Uses proprietary hybrid model of medical rules and AI algorithms to audit claims effectively</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Real-Time Anomaly Detector
                                                </h6>
                                            </div>

                                            <p class="mx-3">For prompt claims adjudication and prior authorization</p>
                                        </div>

                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Advanced Neural Graphs
                                                </h6>
                                            </div>

                                            <p class="mx-3">To identify subtle abnormalities in medical claims efficiently</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>



                                                    Effective Communication Tool
                                                </h6>
                                            </div>

                                            <p class="mx-3">For an automated communication with healthcare providers</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>



                                                    Data Security & Confidentiality
                                                </h6>
                                            </div>

                                            <p class="mx-3">Data is managed with the highest levels of privacy and encryption</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>



                                                    Frictionless Experience
                                                </h6>
                                            </div>

                                            <p class="mx-3">An easy-to-use and intuitive interface with no additional skills needed</p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>


                                                    Easy to use “Scenario Builder”
                                                </h6>
                                            </div>

                                            <p class="mx-3">To self-deploy instantly any rule dynamically</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Automated Comparison Tool
                                                </h6>
                                            </div>

                                            <p class="mx-3">To easily detect discrepancies between medical claims and medical records</p>
                                        </div>

                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Interactive Dashboard
                                                </h6>
                                            </div>

                                            <p class="mx-3">For analyzing and visualizing data and complex patterns</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Medical Forms Reader
                                                </h6>
                                            </div>

                                            <p class="mx-3">Used to extract data from handwritten and computerized records</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Medical Network Analysis
                                                </h6>
                                            </div>

                                            <p class="mx-3">Made possible through big data driven providers’ reviews</p>
                                        </div>
                                        <div>
                                            <div class="d-flex">
                                                <img src="/assets/img/check.svg" height="15px" class="m-2" alt="">
                                                <h6>

                                                    Accessible, Anytime & Anywhere with no Integration
                                                </h6>
                                            </div>

                                            <p class="mx-3">available 24/7 from mobile, tablet or computers</p>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </section>
                    </ng-template>
                </ng-container>
            </nav>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <h3 class="text-main mt-5">FAQs</h3>


            <div class="accordion" id="accordionExample">
                <div class="accordion-item my-3">
                    <h4 class="accordion-header" id="headingOne">
                        <div class="collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Lorem Ipsum Topic
                        </div>
                    </h4>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h3>Lorem Ipsum Question?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <hr>
                            <h3>Lorem Ipsum Question?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item my-3">
                    <h4 class="accordion-header" id="headingTwo">
                        <div class=" collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Lorem Ipsum Topic
                        </div>
                    </h4>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h3>Lorem Ipsum Question?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <hr>
                            <h3>Lorem Ipsum Question?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item my-3">
                    <h4 class="accordion-header" id="headingThree">
                        <div class=" collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Lorem Ipsum Topic
                        </div>
                    </h4>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h3>Lorem Ipsum Question?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <hr>
                            <h3>Lorem Ipsum Question?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </section>

    <section id="four" class="mt-4">
        <div class="container-fluid text-center">
            <div class="row justify-content-center ">
                <div class="col-md-8">
                    <h2>Request a Demo</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="d-sm-block d-md-flex  justify-content-center">
                        <a class="btn    mt-3" routerLink="/request">Request a demo</a>
                        <a class="btn    mt-3" style="background-color: #00c0c2; color: white; ">Book a meeting</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>